* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 90%;
    margin: auto;
}

/* Hero Section */
.hero-section {
    background-image: url('../images/heroImg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.dark-overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
}

.dark-overlay h1 {
    font-size: 2rem;
}

.dark-overlay p {
    font-size: 1.2rem;
}

.cta-btn,
.about-cta,
.class-cta {
    padding: 8px 16px;
    background-color: #FF7402;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

/* About Section */

.about-section {
    height: 80vh;
    margin: 5em 3em;
}

.about-container {
    line-height: 1.5;
    font-size: 1.1rem;
}

.about-container p:nth-child(3),
p.about-container p:nth-child(4) {
    margin: 2em 0;
}

.about-section h2 {
    font-size: 1.8rem;
}

.about-container .cta-btn {
    margin: 1em 0;
}


/* Class Section */

.class-section {
    min-height: 100vh;
    background-color: #222;
    color: whitesmoke;
    padding: 5em 3em;
}

.class-card {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 2rem;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.class-img {
    width: 100%;
    height: auto;
    display: block;
}

.class-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgb(245, 245, 245);
    color: #222;
    width: 100%;
    z-index: 2;
    font-size: 1.2rem;
    line-height: 1.5;
}



.class-section h2,
.membership-section h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.8rem;
}

/* Membership Page */
.membership-section {
    min-height: 100vh;
    padding: 5em 3em;
}

.membership-content {
    background: #222;
    color: #ccc;
    padding: 1em;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}


@media only screen and (min-width: 600px) {

    /* About Section */
    .about-container {
        font-size: 1.3rem;
    }

    .about-section h2 {
        font-size: 2.1rem;
        margin-bottom: 0.5em;
    }

    .about-cta {
        font-size: 1.3rem;
    }

    /* Class Section */
    .class-section h2 {
        font-size: 2rem;
    }

}

@media only screen and (min-width: 767px) {
    .about-section {
        height: 70vh;
    }

    .about-container {
        font-size: 1.5rem;
    }

    .about-section h2 {
        font-size: 2.5rem;
    }

    .about-cta {
        font-size: 1.5rem;
    }

    /* Class Section */
    .class-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .class-content {
        font-size: 0.95rem;
    }

    .class-section h2 {
        font-size: 2.125rem;
    }

    .class-cta {
        font-size: 0.9rem;
        padding: 4px 8px;
    }

    .membership-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .membership-content {
        font-size: 1.1rem;
        padding: 1.5em;
    }
}

@media only screen and (min-width: 991px) {
    .class-content {
        font-size: 1.1rem;
    }

    .class-cta {
        font-size: 1rem;
        padding: 5px 10px;
        margin: 0.3em;
    }
}